.generate-progressions-container {
    background: #E85F55;
}

h2, h5 {
    color: white;
    font-family: 'Montserrat'
}

.div-container {
    position: relative;
    display: inline-block;
}

ui-switch {
    vertical-align: middle;
    position: relative;
    margin-left: 15px;
    top: 5px;
}