<div class="generate-progressions-container">
  <div class="container">
      <h2>Generate Random Chord Progressions</h2>
      <form class="form" (ngSubmit)="onSubmit()">
        <label><h5>Random Key</h5></label><ui-switch size="small" color="#E85F55" [checked]="randomKey" (change)="onToggleRandomSwitch($event)"></ui-switch>
        <select class="selector" [disabled]="randomKey" [(ngModel)]="selectedKey" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let note of chordFinderService.getNotes()">{{ note }}</option>
        </select>
        <br><br>
        <div class="btn-group mood-buttons">
            <button (click)="setKeyMood('major')" class="btn btn-primary btn-small">Major <i class="fas fa-check" *ngIf="majorSelected"></i></button>
            <button (click)="setKeyMood('minor')" class="btn btn-info btn-small">Minor <i class="fas fa-check" *ngIf="minorSelected"></i></button>
        </div>
        <br><br>
        <div class="container modal-interchange-sliders">
          <h5 class="title"><b>Include Chords from the Following Modes</b></h5>
          <label><h5>Ionian</h5></label><ui-switch size="small" color="gold" [checked]="ionianChecked" (change)="onToggleModeSwitch('ionian')"></ui-switch>
          <label><h5>Dorian</h5></label><ui-switch size="small" color="blue" [checked]="dorianChecked" (change)="onToggleModeSwitch('dorian')"></ui-switch>
          <label><h5>Phrygian</h5></label><ui-switch size="small" color="red" [checked]="phrygianChecked" (change)="onToggleModeSwitch('phrygian')"></ui-switch>
          <label><h5>Lydian</h5></label><ui-switch size="small" color="purple" [checked]="lydianChecked" (change)="onToggleModeSwitch('lydian')"></ui-switch>
          <label><h5>Mixolydian</h5></label><ui-switch size="small" color="green" [checked]="mixolydianChecked" (change)="onToggleModeSwitch('mixolydian')"></ui-switch>
          <label><h5>Aeolian</h5></label><ui-switch size="small" color="#FF4500" [checked]="aeolianChecked" (change)="onToggleModeSwitch('aeolian')"></ui-switch>
          <label><h5>Locrian</h5></label><ui-switch size="small" color="black" [checked]="locrianChecked" (change)="onToggleModeSwitch('locrian')"></ui-switch>
        </div>
        <button type="submit" class="btn btn-success">Generate Chord Progression</button>
      </form>
      <div class="generatedResult" *ngIf="progressionGenerated">
        <h3>Chord progression in <b><i>{{ keyNote }} {{ keyMood }}:</i></b></h3>
        <div class="chord-container normal-mode" *ngFor="let chord of chords">
            <p class="chordName"><b>{{ chord.getKeyNote() }}{{ chord.getKeyMood() }}</b></p>
            <p class="number"><b>{{ chord.getChordNumber() }}</b></p>
        </div>
      </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">