<div class="nav navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h1>Chordulator <i class="fas fa-music"></i></h1></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/chords-in-key">Chords in Key</a></li>
      <li><a routerLink="/generate-progressions">Generate Chord Progressions</a></li>
    </ul>
    <hr>
</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">