body {
    background-color: #E85F55;
}

.container {
    overflow-y: hidden;
}

.btnKey {
    background-color: #254E58;
    border-color: #254E58;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-group-vertical {
    margin-right: 5px;
}

.chords-in-key {
    background-color: #E85F55;
}

h3, h4, h5 {
    color: white;
    font-family: 'Montserrat'
}

ui-switch {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.chord-container {
    width: 120px;
    height: 140px;
    border: solid 2px #E85F55;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    color: #E85F55;
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.normal-mode {
    height: 100px;
}

.chord-container .chordName {
    font-size: 28px;
}

.major {
    color: #E2B500;
}

.dorian {
    color: blue;
}

.phrygian {
    color: red;
}

.lydian {
    color: purple;
}

.mixolydian {
    color: green;
}

.minor {
    color: orangered;
}

.locrian {
    color: black;
}

.mode {
    font-size: 14px;
}

.mood-buttons {
    margin-right: 20px;
}


.chord-container:hover {
    color: white;
    background-color: #E85F55;
    border: solid 1px white;

    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}